#Header{
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 28px;
    margin-inline: auto;
    width: 100%;
    max-width: 1440px;
    border-bottom: 1px solid #F0EFFB;
}

@media (max-height: 720px) {
    #Header {
        height: 60px;
    }
}


@media (min-width: 1000px) {
    #Header {
        min-height: 96px;
    }
}