#Container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Home{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Left_side{
  height: auto;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 62px;
  margin-bottom: 90px;
  gap: 30px;
}

.title_container{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.title{
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
}

.subtitle{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #808494;
  opacity: 0.5;
}

@media (min-width: 1000px) {
  .title{
    text-align: left;
  }

  .subtitle{
    text-align: left;
  }

  #Home{
    height: 100vh;
  }

  #Left_side{
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
    margin-inline: 50px;
    height: 100%;
  }

  .right_side{
    flex: 1;
    height: 100vh;
  }

  .right_side img{
    height: 100vh;
    object-fit: cover;

  }

  #Container{
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media ( (min-width: 1000px ) and (max-height: 1000px)){
  #Left_side{
    margin-top: 30px;
  }
}

@media (min-height: 1000px) {
  #Left_side{
    margin-top: 82px;
  }

}
